* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK TC";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background: #0b0b0d;
    color: #e7dfe8;
}

tooltip {
    background: #151217;
    border: 1px solid #b9788a;
    color: #e7dfe8;
}

tooltip label {
    padding: 5px 7px;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    min-width: 0;
    margin: 2px 0;
    padding: 0 2px;
    color: #58546b;
    background: transparent;
}

#workspaces button:hover {
    color: #c4a7e7;
    background: transparent;
}

#workspaces button.focused,
#workspaces button.active {
    color: #c4a7e7;
    background: transparent;
    box-shadow: none;
}

#workspaces button.focused label,
#workspaces button.active label {
    font-weight: 800;
}

#workspaces button.urgent {
    color: #fff0f5;
    background: #6b2338;
    box-shadow: inset 0 -1px #ff6b8a;
}

#clock,
#custom-window-or-media,
#cpu,
#memory,
#temperature,
#disk,
#backlight,
#pulseaudio,
#network,
#idle_inhibitor,
#battery,
#privacy,
#custom-notifications,
#custom-updates,
#custom-clipboard,
#custom-tray-toggle,
#tray {
    padding: 0 2px;
}

#clock {
    color: #e5c890;
}

#window {
    color: #7c7794;
    font-size: 12px;
}

#custom-media {
    color: #cba6f7;
}

#custom-window-or-media {
    color: #7c7794;
    font-size: 12px;
}

#cpu {
    color: #81c8be;
}

#memory {
    color: #89b4fa;
}

#temperature {
    color: #a6d69a;
}

#disk {
    color: #b6d6a8;
}

#backlight {
    color: #f5d76e;
}

#pulseaudio {
    color: #89b4fa;
}

#network {
    color: #94e2d5;
}

#battery {
    color: #a6d69a;
}

#custom-updates {
    color: #fab387;
}

#custom-notifications {
    color: #f9e2af;
}

#custom-clipboard {
    color: #89dceb;
}

#idle_inhibitor {
    color: #7c7794;
}

#idle_inhibitor.activated {
    color: #a6e3a1;
    background: transparent;
}

#privacy,
#privacy-item {
    color: #f38ba8;
}

#privacy-item {
    padding: 0 3px;
}

#temperature.critical {
    color: #f38ba8;
}

#battery.warning:not(.charging) {
    color: #fab387;
}

@keyframes blink {
    to {
        color: #fff0f5;
        background: #6b2338;
    }
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    background: #2b151e;
    animation-name: blink;
    animation-duration: 0.9s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding: 0 0px;
    border: none;
}

#group-tray,
#group-tray > .tray-hidden,
#group-tray > .tray-hidden #tray {
    margin: 0;
    padding: 0;
    border: none;
}

#custom-tray-toggle {
    color: #58546b;
    padding: 0 3px;
    border-left: 1px solid #252233;
    border-right: 1px solid #252233;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #6b2338;
}
